<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549603731179-tl87pvasv9jsf2gehl7phref0s2cb44k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549603731179-tl87pvasv9jsf2gehl7phref0s2cb44k</string>
	<key>API_KEY</key>
	<string>AIzaSyCswReh7Hu0lfJMt8FWGoF7-Z2KPug_Cpg</string>
	<key>GCM_SENDER_ID</key>
	<string>549603731179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pucket.pucketFlutter</string>
	<key>PROJECT_ID</key>
	<string>pucket-f958c</string>
	<key>STORAGE_BUCKET</key>
	<string>pucket-f958c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549603731179:ios:20c0513cf9f9aba8fa80ae</string>
</dict>
</plist>